/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(../../static/img/background.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 500px;
}

.heroSubtitle {
  padding-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.buttons>* {
  margin: 0;
  min-width: 220px;
}

@media screen and (max-width: 640px) {
  .buttons>* {
    width: 100%;
  }
}

.customBackground {
  background-color: #ffffff;
}

.customBackgroundSection1 {
  background-color: #ffffff;
}

.customBackgroundSection2 {
  background-color: #f8f9fa;
}

.customBackgroundSection3 {
  background-color: #ffffff;
}

[data-theme='dark'] {
  .customBackground {
    background-color: var(--ifm-footer-background-color);
  }

  .customBackgroundSection1 {
    background-color: #E6E6E6;
    color: black;
  }

  .customBackgroundSection2 {
    background-color: var(--ifm-footer-background-color);
  }

  .customBackgroundSection3 {
    background-color: #ffffff;
    color: black;
  }

}
