/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 
 :root {
  --ifm-color-primary: #5c246a;
  --ifm-color-primary-dark: #53205f;
  --ifm-color-primary-darker: #4e1f5a;
  --ifm-color-primary-darkest: #40194a;
  --ifm-color-primary-light: #652875;
  --ifm-color-primary-lighter: #6a297a;
  --ifm-color-primary-lightest: #782f8a;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(247, 243, 243, 0.1);

  /* Custom heading font sizes */
  --heading-font-size-h1: 2.25rem; /* 一级标题字体大小 */
  --heading-font-size-h2: 2rem;   /* 二级标题字体大小 */
  --heading-font-size-h3: 1.75rem; /* 三级标题字体大小 */
  --heading-font-size-h4: 1.5rem;  /* 四级标题字体大小 */
  --heading-font-size-h5: 1.25rem; /* 五级标题字体大小 */
  --heading-font-size-h6: 1rem;    /* 六级标题字体大小 */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ccafdb;
  --ifm-color-primary-dark: #b76edd;
  --ifm-color-primary-darker: #b05fda;
  --ifm-color-primary-darkest: #9a33cf;
  --ifm-color-primary-light: #d5aaeb;
  --ifm-color-primary-lighter: #dcb9ee;
  --ifm-color-primary-lightest: #f2e5f9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Apply the custom heading sizes */
h1 {
  font-size: var(--heading-font-size-h1);
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: var(--heading-font-size-h2);
  font-weight: bold;
  line-height: 1.3;
}

h3 {
  font-size: var(--heading-font-size-h3);
  font-weight: bold;
  line-height: 1.4;
}

h4 {
  font-size: var(--heading-font-size-h4);
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-size: var(--heading-font-size-h5);
  font-weight: bold;
  line-height: 1.6;
}

h6 {
  font-size: var(--heading-font-size-h6);
  font-weight: bold;
  line-height: 1.7;
}

/* Optional: Adjust spacing before and after headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */
