.features {
  display: flex;
  align-items: center;
  padding: 2rem 0 4rem 0;
  width: 100%;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.featureSvg {
  width: 120px;
}
